In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data_remote/winequality.csv", sep=",")

In [3]:
df.head()

,fixed_acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,TARGET
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## Range of column values (min-max)

In [16]:
df = df.describe().loc[['min','max']].T

In [17]:
df.head()

                    min     max
fixed_acidity     4.600  15.900
volatile acidity  0.120   1.580
citric acid       0.000   1.000
residual sugar    0.900  15.500
chlorides         0.012   0.611

In [19]:
df.to_json("../data/processed/min_max.json")